.direction{
    font-size:x-large;
    background-color: antiquewhite;
}
.direction:hover{
  color: black;
  background-color: lightblue;
}
.speech{
    font-size: small;
    color: black;

}
.LUKA{
    color: orangered;
}
.POPOVA{
    color: blue;
}
.SMIRNOV{
    color: green;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: palevioletred;

}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd){
background-color: bisque;
}
th,td{
   padding-top:  10px;
   padding-bottom: 20px;
}
.POPOVA:hover{
    text-shadow: 1px 1px 5px red;
}
ul.navigationbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navigationbar li{
     float: left;
     color: #000;
     background-color:aquamarine;
}
ul.navigationbar a{
    display: block;
    padding: 8px;
}
ul.navigationbar a:hover{
    background-color: aqua;
    color: blue;
}